
<%- include("partials/header"); -%>
    <h1><%= startingContent.name %></h1>
    <p> <%= startingContent.content %> </p>


  <%  posts.post.forEach(function(post){ %>

    <h1><%=post.name%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post.title%>">Read More</a>
    </p>


    <% }) %>


<%- include("partials/footer"); -%>
